body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

#applicationTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    border-radius: 8px;
}

    #applicationTable th, #trainingTable td {
        border: 1px solid #e0e0e0;
        padding: 15px;
        text-align: left;
    }

    #applicationTable th {
        background-color: #007bff;
        color: #fff;
        font-weight: bold;
    }

    #applicationTable tbody tr:hover {
        background-color: #e0f7fa;
        cursor: pointer;
    }

    #applicationTable td button {
        padding: 10px 15px;
        cursor: pointer;
/*        background-color: #28a745;*/
        color: #fff;
        border: none;
        border-radius: 5px;
        font-size: 14px;
        transition: background-color 0.3s;
    }

        #applicationTable td button.view-btn {
            margin-right: 10px; /* Adjust the margin-right as needed */
        }

        #applicationTable td button:hover {
            background-color: #80b1b9;
        }

.modal-body {
    max-height: 400px;
    overflow-y: auto;
}

/* Add this CSS to your stylesheet or in a <style> tag in your HTML */
#prerequisitesInputs {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

    #prerequisitesInputs label {
        background-color: #007bff;
        color: #fff;
        padding: 8px 12px;
        cursor: pointer;
        border-radius: 4px;
        font-weight: bold;
        display: inline-block;
    }

        #prerequisitesInputs label:hover {
            background-color: #0056b3;
        }

    #prerequisitesInputs input[type="file"] {
        display: none;
    }

        #prerequisitesInputs input[type="file"]:focus + label {
            outline: 1px solid #fff;
            outline-offset: -1px;
        }

.prerequisite-name {
    border: 1px solid #ced4da; /* Border color for the file name */
    padding: 8px 12px;
    border-radius: 4px;
    display: inline-block;
}

/* Additional styling for the submit button */
#applicationForm button[type="submit"] {
    width: 100%;
}

.approved-row {
    background-color: lightgreen !important; /* Important to override other styles */
}
/* Add this CSS to your stylesheet or in a <style> tag in your HTML */
.disabled-button {
    background-color: #e0e0e0; /* Change this to the desired color */
    color: #757575; /* Change this to the desired text color */
    cursor: not-allowed;
}

.declineBtn{
    background-color:red;
}
.approveBtn {
    background-color: #4cae1f;
}
.viewDocumentBtn {
    background-color: #63a7f0;
}