@{
    ViewBag.Title = "Training";
}

<html lang="en">

<head>
    <link href="~/CSS/TrainingCards.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="~/js/PopulateTrainingIndex.js"></script>
    <link href="~/Styles/Training.css" rel="stylesheet" />
</head>

<body>
    <div id="trainingCards">
        

    </div>
</body>

</html>
