@{
    ViewBag.Title = "Manager";
}
<html lang="en">
<head>
    <title>Manager</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="~/js/ManagerViewApplications.js"></script>
    <!-- Add this in your HTML file -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
    <link href="~/Styles/Manager/ManagerViewApplication.css" rel="stylesheet" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
</head>
<body>
    @{
        Layout = "~/Views/Shared/_LayoutPage2.cshtml";
    }

    <table id="applicationTable" class="table">
        <thead>
            <tr>
                <th>Applicant's Name</th>
                <th>Training Title</th>
                <th>Application Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody></tbody>
        <!-- Table content will be dynamically added by JavaScript -->

    </table>
    <!-- Add this HTML modal structure to your page -->
    <div class="modal fade" id="declineModal" tabindex="-1" role="dialog" aria-labelledby="declineModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="declineModalLabel">Decline Application</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                   
                    <textarea id="declineReason" class="form-control" rows="3" placeholder="Decline Reason"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-danger" id="declineButton" onclick="submitDeclineReason()">Decline</button>


                </div>
            </div>
        </div>
    </div>

    <!-- Add this modal HTML structure after the closing body tag -->
    <div class="modal" id="attachmentsModal" tabindex="-1" role="dialog" aria-labelledby="attachmentsModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="attachmentsModalLabel">Attachments</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="attachmentsModalBody">
                    <!-- Attachments will be dynamically added here -->
                </div>
            </div>
        </div>
    </div>




</body>
</html>

