
@{
    ViewBag.Title = "Register";
}

<!doctype html>
<html lang="en">
<head>
    <title>Login 07</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/Styles/LoginCSS/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Styles/LoginCSS/css/style.css" rel="stylesheet" />
</head>
<body>
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center mb-5">

                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-12 col-lg-10">
                    <div class="">
                        @*<div class="text-wrap p-4 p-lg-5 text-center d-flex align-items-center order-md-last">
                            <div class="text w-100">
                                <h2>Welcome to Login</h2>
                                <p>Don't have an account?</p>
                                <a href="#" class="btn btn-white btn-outline-white">Register Now</a>
                            </div>
                        </div>*@
                        <div class="login-wrap p-4 p-lg-5">
                            <div class="d-flex">
                                <div class="w-100">
                                    <h3 class="mb-4">REGISTER</h3>
                                </div>

                            </div>
                            <form action="@Url.Action("AddAccount", "Register")" class="signin-form" method="post">
                                <div class="form-group mb-3">
                                    <label class="label" for="name">First Name</label>
                                    <input type="text" class="form-control" placeholder="Enter First Name" name="FirstName" required>
                                </div>
                                <div class="form-group mb-3">
                                    <label class="label" for="name">Last Name</label>
                                    <input type="text" class="form-control" placeholder="Enter Last Name" name="LastName" required>
                                </div>

                                <div class="form-group mb-3">
                                    <label class="label" for="name">Mobile Number</label>
                                    <input type="text" class="form-control" placeholder="Enter Mobile Number" name="MobileNumber" required>
                                </div>
                                <div class="form-group mb-3">
                                    <label class="label" for="name">National Identity Card </label>
                                    <input type="text" class="form-control" placeholder="Enter NIC" name="NationalIdentityCard" required>
                                </div>
                                <div class="form-group mb-3">
                                    <label class="label" for="name">Manager Name </label>
                                    <input type="text" class="form-control" placeholder="Enter Manager Name" name="ManagerName" required>
                                </div>
                                 @*  <div class="form-group mb-3">
                                    <label for="department" class="label">Department:</label>
                                    <select id="department" name="DepartmentName" class="form-control">
                                        <option value="Product and Technology">Product and Technology</option>
                                        <option value="Customer Support">Customer Support</option>
                                        <option value="Human Resource">Human Resource</option>
                                        <option value="Other">Other</option>
                                    </select>
                                </div>*@
                                <div class="form-group mb-3">
                                    <label class="label" for="name">Department</label>
                                    <input type="text" class="form-control" placeholder="Enter Department" name="DepartmentName" required>
                                </div>

                                <div class="form-group mb-3">
                                    <label class="label" for="name">Email</label>
                                    <input type="text" class="form-control" placeholder="Enter Email" name="Email" required>
                                </div>
                                <div class="form-group mb-3">
                                    <label class="label" for="password">Password</label>
                                    <input type="password" class="form-control" placeholder="Enter Password" name="Password" required>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="form-control btn btn-primary submit px-3">Register</button>
                                </div>
                                <div class="form-group d-md-flex">

                                    <div class="w-50 text-md-right">
                                        <a href="#">Forgot Password</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="js/jquery.min.js"></script>
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>

</body>
</html>


